.ad-image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ad-image img{
    width: 70%;
    text-align: center;
    margin: 50px 0;
}


@media screen and (max-width: 768px){
    .ad-image img{
        width: 100%;
    }
}