*{
    box-sizing: border-box;
}

.recommendation{
    padding: 20px 10px;
}

.products-row{
    margin: 20px 0;
}

.learn-more{
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 5px 0;
    margin: 0 auto;
    cursor: pointer;
}

.learn-more:hover{
    border: 5px solid black;
}